@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 0.4rem solid #B3985E;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

br {
  content: "A" !important;
  display: block !important;
  margin-bottom: 1.5rem !important;
}

body {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
  line-height: 1.5;
  color: #777777;
}

.heading-primary {
  font-size: 4rem;
  color: #806B3C;
  text-transform: uppercase;
  letter-spacing: .1rem;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.heading-primary:hover {
  letter-spacing: .3rem;
}

.heading-secondary {
  font-size: 3rem;
  color: #806B3C;
  text-transform: capitalize;
  letter-spacing: .1rem;
  position: relative;
}

.heading-secondary::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 44%;
  display: block;
  border-bottom: 0.2rem solid #806B3C;
  width: 4rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 6rem !important;
}

.u-margin-top-medium {
  margin-top: 10rem !important;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: block;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

::after {
  content: '';
  display: table;
  clear: both;
}

[class^="col-"] {
  float: left;
}

[class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) - 6rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4) - 6rem);
}

.col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4) - 2 * 6rem);
}

.header {
  height: 100vh;
  width: 100%;
  position: relative;
}

.bg-video__main {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 75%;
  width: 100%;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-video__main:before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(190, 167, 117, 0.8)), to(rgba(128, 107, 60, 0.8)));
  background: linear-gradient(to right bottom, rgba(190, 167, 117, 0.8), rgba(128, 107, 60, 0.8));
}

.bg-video__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.bg-video__text-box--main {
  display: block;
  font-size: 12rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1rem;
  -webkit-animation: moveInLeft 1s ease-out;
          animation: moveInLeft 1s ease-out;
}

.bg-video__text-box--sub {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: .4rem;
  margin-top: -2rem;
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

.navigation {
  height: 25%;
  padding: 1rem;
}

.navigation__logo {
  margin-bottom: 3rem;
}

.navigation__mainlogo {
  font-size: 4rem;
  color: #806B3C;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.navigation__sublogo {
  font-size: 1.6rem;
  color: #BEA775;
  letter-spacing: .1rem;
  text-transform: capitalize;
  margin-top: -.5rem;
}

.navigation__item {
  display: inline-block;
}

.navigation__item:not(:last-child) {
  margin-right: 4rem;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 2rem;
  color: #806B3C;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .4s;
  transition: all .4s;
  border-top: .2rem solid transparent;
}

.navigation__link:hover, .navigation__link:active {
  border-top: 0.2rem solid #BEA775;
}

.footer {
  background: #2B2B2B;
  width: 100%;
  padding: 2rem 0 3rem 0;
  position: relative;
}

.footer__name {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.footer__info {
  list-style: none;
  display: inline-block;
  font-size: 3rem;
}

.footer__info:not(:last-child) {
  margin-right: 1rem;
}

.footer__link {
  text-decoration: none;
  color: inherit;
}

.footer__menu {
  position: absolute;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.footer__menu--link-1 {
  list-style: none;
  display: inline-block;
  font-size: 2rem;
  text-transform: capitalize;
}

.footer__menu--link-1:not(:last-child) {
  margin-right: 1rem;
}

.footer__menu--link-1:hover {
  background: red;
}

.footer__menu--link-2 {
  text-decoration: none;
  color: inherit;
}

.welcome {
  padding: 8rem 0;
}

.service {
  padding: 8rem 0;
}

.stylists {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url(/assets/head-7.jpg);
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(/assets/head-7.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 91%, 73% 100%, 0 93%, 0% 25%);
          clip-path: polygon(0 0, 100% 0, 100% 91%, 73% 100%, 0 93%, 0% 25%);
  position: relative;
  padding: 8rem 0;
}

.work {
  padding: 8rem 0 8rem 0;
}

.about {
  padding-bottom: 8 0 5rem 0;
}

.contact {
  padding: 8rem 0;
}

.welcome__text {
  font-size: 1.6rem;
  letter-spacing: .05rem;
}

.photo {
  position: relative;
}

.photo__composition {
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: .2rem;
  width: 45%;
  -webkit-transition: all .4s;
  transition: all .4s;
  outline-offset: 1rem;
}

.photo__composition--p1 {
  position: absolute;
  top: 0;
  left: 0;
}

.photo__composition--p2 {
  position: absolute;
  top: 2rem;
  right: 1rem;
}

.photo__composition--p3 {
  position: absolute;
  top: 5rem;
  right: 15rem;
}

.photo__composition:hover {
  -webkit-transform: scale(1.05) translateY(-0.5rem);
          transform: scale(1.05) translateY(-0.5rem);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 99;
  outline: 1rem solid #B3985E;
}

.photo:hover .photo__composition:not(:hover) {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.service-box {
  background-color: #fff;
  font-size: 1.6rem;
  padding: 3rem 2rem;
  border-radius: .3rem;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.service-box__icon {
  width: 8rem;
}

.service-box__list-more {
  display: block;
  padding: .5rem 1rem;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.service-box__list-more:not(:last-child) {
  margin-bottom: 2rem;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.service-box__list-more:last-child {
  margin-bottom: 5.6rem;
}

.service-box__list-more:hover {
  background: #f5f5f5;
}

.service-box__list {
  list-style: none;
}

.service-box__list--name {
  display: block;
  float: left;
}

.service-box__list--price {
  display: block;
  float: right;
}

.service-box:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

.stylists-story {
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 4rem 5rem;
  font-size: 1.6rem;
  position: relative;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.stylists-story:not(:last-child) {
  margin-bottom: 5rem;
}

.stylists-story__shape {
  height: 15rem;
  width: 15rem;
  margin-right: 4rem;
  float: left;
}

.stylists-story__photo {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.stylists-story__content--name {
  display: inline-block;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: .5rem;
}

.stylists-story__content--des {
  display: block;
  overflow: hidden;
}

.work-list {
  width: 100%;
}

.work-list__all {
  width: 100%;
}

.work-list__shape {
  float: left;
  list-style: none;
  width: 25%;
  position: relative;
  overflow: hidden;
}

.work-list__shape::before {
  content: '';
  float: left;
  padding-top: 100%;
}

.work-list__photo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.work-list__photo:hover {
  -webkit-transform: scale(1.1) rotate(3deg);
          transform: scale(1.1) rotate(3deg);
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

button {
  outline: none;
  border: none;
  background: transparent;
}

.btn {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'IBM Plex Serif', serif;
  color: #B3985E;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0 -1rem 0 #FFE7B3;
          box-shadow: inset 0 -1rem 0 #FFE7B3;
  -webkit-transition: -webkit-box-shadow .2s ease-out;
  transition: -webkit-box-shadow .2s ease-out;
  transition: box-shadow .2s ease-out;
  transition: box-shadow .2s ease-out, -webkit-box-shadow .2s ease-out;
  cursor: pointer;
  display: block;
}

.btn:hover {
  -webkit-box-shadow: inset 0 -3rem 0 #FFE7B3;
          box-shadow: inset 0 -3rem 0 #FFE7B3;
}

.about {
  font-size: 1.6rem;
}

.about__shape {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.about__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact__shape {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contact__map {
  width: 100%;
  height: 100%;
}

.contact__info {
  padding: 3rem 0;
  width: 100%;
  text-align: left;
}

.contact__list {
  list-style: none;
}

.contact__list:not(:last-child) {
  margin-bottom: 2rem;
}

.contact__icon {
  margin-right: 1.5rem;
  font-size: 3rem;
  vertical-align: middle;
}

.contact__info {
  font-size: 2rem;
}

.contact__name a {
  text-decoration: none;
  color: inherit;
}
/*# sourceMappingURL=main.css.map */