*
{
    background-color:#1d1f1d;
    color:#ededed;
}
@media(min-width:468px)
{
    .container-1
    {
        display: flex;
        /*
        align-items: center;
        flex-direction: column;
        */
        
    }
    .container-2
    {
        display: flex;
        justify-content: space-between;
    }
}
.container-3
{
    display:flex;
    flex-wrap: wrap;
}
.container-1 div,.container-2 div,.container-3-div
{
    border: 1px #ccc solid;
    border-radius: 10px;
    padding: 10px;
}

.container-2-box
{
    flex-basis: 27%;
}
.container-3-box
{
    flex-basis: 15%;
}

.box-1
{
    flex:2;
    order:2;
}
.box-2
{
    flex:1;
    order:1;
}
.box-3
{
    flex:1;
    order:3;
}

