.header {
    height: 100vh;
    width: 100%;
    position: relative;

}

.bg-video {
    
    &__main {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 75%;
    width: 100%;
    overflow: hidden;
    }
    

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    //Add overlay background
    &__main:before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        height: 100%;
        width: 100%;
        background: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8));
    }

    &__text-box {
        @include absCenter;
        color: $color-white;
        

        &--main {
            display: block;
            font-size: 12rem;
            font-weight: 400;
            text-transform: uppercase;  
            letter-spacing: 1rem;
            animation: moveInLeft 1s ease-out;
        }

        &--sub {
            display: block;
            font-size: 2rem;
            font-weight: 300;
            letter-spacing: .4rem;
            margin-top: -2rem;
            animation: moveInRight 1s ease-out;
            
        }
    }
}