@font-face
{
    font-family: Allura;
    src:url('/font/Allura/Allura-Regular.ttf');
}
@font-face
{
    font-family: Arizonia;
    src: url('/font/Arizonia/Arizonia-Regular.ttf');
}
@font-face
{
    font-family: Courgette;
    src: url('/font/Courgette/Courgette-Regular.ttf');
}
@font-face
{
    font-family: DancingScript;
    src: url('/font/Dancing_Script/DancingScript-VariableFont_wght.ttf');
}
@font-face
{
    font-family: FrederickatheGreat;
    src: url('/font/Fredericka_the_Great/FrederickatheGreat-Regular.ttf');
}
@font-face
{
    font-family: GreatVibes;
    src: url('/font/Great_Vibes/GreatVibes-Regular.ttf');
}
@font-face
{
    font-family: Inconsolata;
    src: url('/font/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf');
}
@font-face
{
    font-family: Kalam;
    src: url('/font/Kalam/Kalam-Regular.ttf');
}
@font-face
{
    font-family: KaushanScript;
    src: url('/font/Kaushan_Script/KaushanScript-Regular.ttf');
}
@font-face
{
    font-family: Lato;
    src: url('/font/Lato/Lato-Black.ttf');
}
@font-face
{
    font-family: LobsterTwo;
    src: url('/font/Lobster_Two/LobsterTwo-Regular.ttf');
}
@font-face
{
    font-family: Lora;
    src: url('/font/Lora/Lora-VariableFont_wght.ttf');
}
@font-face
{
    font-family: Merriweather;
    src: url('/font/Merriweather/Merriweather-Regular.ttf');
}
@font-face
{
    font-family: OpenSans;
    src: url('/font/Open_Sans/OpenSans-Regular.ttf');
}
@font-face
{
    font-family: OpenSansCondensed;
    src: url('/font/Open_Sans_Condensed/OpenSansCondensed-Bold.ttf');
}
@font-face
{
    font-family: Oswald;
    src: url('/font/Oswald/Oswald-VariableFont_wght.ttf');
}
@font-face
{
    font-family: Pacifico;
    src: url('/font/Pacifico/Pacifico-Regular.ttf');
}
@font-face
{
    font-family: Parisienne;
    src: url('/font/Parisienne/Parisienne-Regular.ttf');
}
@font-face
{
    font-family: Playball;
    src: url('/font/Playball/Playball-Regular.ttf');
}
@font-face
{
    font-family: PlayfairDisplay;
    src: url('/font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}
@font-face
{
    font-family: ReenieBeanie;
    src: url('/font/Reenie_Beanie/ReenieBeanie-Regular.ttf');
}
@font-face
{
    font-family: Roboto;
    src: url('/font/Roboto/Roboto-Regular.ttf');
}
