.welcome {
    padding: 8rem 0;
}

.service {
    padding: 8rem 0;

}

.stylists {
    background: linear-gradient(rgba($color-white, .8), rgba($color-white, .8)), url(/assets/head-7.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 91%, 73% 100%, 0 93%, 0% 25%);
    position: relative;
    padding: 8rem 0;
}

.work {
    padding: 8rem 0 8rem 0;
}

.about {
    padding-bottom: 8 0 5rem 0;
}

.contact {
    padding: 8rem 0;
}