*
{
    margin:0;
    padding:0;
}
body
{
    background-color: #eee;
}
.wrapper
{
    margin:0 auto 0 60px    ;
    width: 1000px;
}
.images
{
    width: 300px;
    height: 300px;
    background-image: url(Image/53c8fe9387981.560cda05abe25.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.videowrapper
{
    position: relative;
    padding-bottom: 56.25%;
    padding-top:25px;
    height: 0;
}
.videowrapper iframe
{
    position: absolute;
    left:0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

nav
{
    width: 100%;
    height: 100px;
    background-color: #fff;
}
ul
{
    margin-left: 30px;
}
ul li
{
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;
}

ul li a
{
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: serif;
    color: #3A79F5;
    padding:0 20px;
}
ul li a:hover
{
    color:red;
}