*
{
    margin:0;
    padding:0;
}
.wrapper2
{
    width: 100%;
}
.img-banner
{   
    display: none;
}
.img-girlfriend
{

    width: 300px;
    height: 1000px;
    background-size: 200%;
    background-repeat: no-repeat;
}
.img-girlfriend :hover
{
    background-size: 100%;
}
.img-info
{
    width:100%;
}
.img-info h2
{
    padding: 30px 30px 20px;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    color:#111;
    line-height: 44px;
}
.img-info p
{
    padding: 0px 30px 20px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color:#111;
    line-height: 44px;
}
.img-girlfriend
{
    width: 100%;
}
@media only screen and (min-width:768px)
{
    .img-banner
    {
        display: block;
        width: 100%;
        padding-bottom: 30px;
    }
    .wrapper2
    {
        width: 600px;
        margin: 0 auto;
    }
    .img-info h2
    {
        padding: 20px 0px 0px;
    }
    .img-info p
    {
        padding: 20px 0px 0px;
    }    
    .img-girlfriend
    {
        padding-top: 30px;
    }
}
@media only screen and (min-width:1000px)
{
    .img-banner
    {
        display: block;
        width: 100%;
        padding-bottom: 30px;
    }
    .wrapper2
    {
        width: 1000px;
    }
    .img-info
    {
        width: 50%;
        float: right;
    }
    .img-girlfriend
    {
        padding-top: 0px;
        width: 50%;
        float: left;
    }
    .img-info h2
    {
        padding: 20px 0px 0px 30px;
    }
    .img-info p
    {
        padding: 20px 0px 0px 30px;
    }    
    .img-girlfriend
    {
        padding-top: 30px;
    }
}